body {
  background-color: #f2f2f1;
}

#container {
  max-width: fit-content;
  margin: 20px auto 10px;
  padding: 30px;
  background-color: white;
}

#top-row {
  margin: 0 auto;
}

#form-row {
  margin: 0 auto;
}

form {
  font-family: "Baloo 2", cursive;
}

#city-form {
  margin: 15px 0px;
}

.btn {
  cursor: pointer;
}

#button-link {
  background-color: #004288;
  margin: 0 10px 0;
}

#city-display {
  font-weight: bold;
  font-size: 35px;
  color: #004288;
}

#date-display {
  font-size: 20px;
}

.card {
  border: none;
  font-family: "Baloo 2", cursive;
  display: inline-block;
}

.rightcard {
  font-size: 20px;
}

#display-temperature {
  font-size: 100px;
  color: #004288;
}

#temperature-card {
  max-width: fit-content;
}

.celsius,
.fahrenheit {
  font-size: 30px;
}

.stick {
  font-size: 25px;
  color: #6d757d;
}

.card-body,
.text-left {
  font-size: 20px;
}

#location {
  color: #e7305b;
}

#icon-main {
  width: 90px;
}

#description {
  font-size: 25px;
}

.smalltemperature {
  font-weight: bold;
  font-size: 50px;
}

#fahrenheit-link,
#celsius-link {
  color: #3da4ab;
}

.active {
  color: #004288 !important;
  text-decoration: none;
}

.active:hover {
  cursor: default;
  text-decoration: none;
  color: #004288;
}

#icon {
  width: 70px;
}

.maxtemp {
  font-weight: bolder;
  color: #3da4ab;
}

#time-stamp {
  color: #6d757d;
  font-size: 20px;
}

#forecast-row {
  margin: 0px auto;
}

#time-stamp {
  font-size: 18px;
}

#signature {
  font-family: "Baloo 2", cursive;
  font-size: 15px;
  text-align: center;
  margin: 20px auto 0px;
  color: #004288;
}

.heart {
  color: #004288;
}
